# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
profiles.yml

# Airflow
airflow/logs/

# Credentials
.env
*.env
secrets/

# Terraform
terraform/.terraform/
*.tfstate
*.tfvars

# Data
data/

# OS
.DS_Store
Thumbs.db
